html, body {
    background-color: #191414;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    margin: 0;
    padding: 15px;
}

.log-in {
    height: 100%;
    padding-top: 0px;
}

.href-button {
    color: white;
}

.href-button:hover {
    color: white;
}

.login-button {
    background-color: #1DB954;
    margin: 10px;
}

.login-button:hover {
    background-color: rgb(15, 105, 47);
}

div.container {
    height: 100%;
}

button {
    border: 0;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    margin: 0;
}

div.home {
    padding-top: 0;
    position: relative;
    height: 100%;
    text-align: center;
}

div.home-text {
    width: 600px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h1.home-title {
    color: #1DB954;
    font-size: 46px;
    font-weight: bold;
    vertical-align: center;
}

p.home-intro {
    font-size: 24px;
    vertical-align: center;
}

.navbar {
  overflow: hidden;
  top: 0;
  width: 100%;
  text-align: center;
  min-height: 25px;
  margin-top: 20px;
}

.navbar a {
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  font-weight: bold;
  vertical-align: center;
  outline: none;
}

.navbar a.active {
    color: #1DB954;
}

div.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
}

.home {
    height: 50%;
}

div.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-row h1 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
}

.profile-row h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}


img.user-profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    float: left;
    margin: 5px;
}

.home-top-container {
    display: flex;
    flex-direction: row;
}

.home-top {
    width: 30vw;
    margin: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.top-artist {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
}

.top-artist h3 {
    font-size: 15px;
    margin: 10px 0px;
    margin-left: 25px;
}

.top-artist img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 10px;
}

.top-track {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
}

.top-track h3 {
    font-size: 15px;
    margin: 10px 0px;
    margin-left: 25px;
}

.top-track img {
    max-width: 70px;
    max-height: 70px;
    margin: 10px;
}

.top-title {
    margin-bottom: 20px;
}

.top-title h2 {
    font-size: 22px;
    font-weight: bold;
}