{{define "base-logged-in"}}
<!DOCTYPE html>
<html>
<head>
    <meta charget="utf-8">
    <title>{{template "title".}}</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="home-container">
        <div class="home-row">
            {{template "navbar".}}
        </div>
        <div class="home-row">
            <div class="user">
                <div class="profile-row">
                    <img src="https://i.pinimg.com/originals/7a/ec/a5/7aeca525afa2209807c15da821b2f2c6.png" alt="Bruh" class="user-profile-pic">
                </div>
                <div class="profile-row">
                    <h1>Aliou Amar</h1>
                    <h2>Followers: 2</h2>
                    <h2>Playlists: 12</h2>
                </div>
            </div>
        </div>
        <div class="home-row">
            <div class="home-top-container">
                <div class="home-top">
                    <div class="top-title">
                        <h2>Top Artists</h2>
                    </div>
                    {{range .TopArtists.Items}}
                        <div class="top-artist">
                            <img src="{{ (index .Images 1).URL }}" alt="Bruh">
                            <h3>{{.Name}}</h3>
                        </div>
                    {{end}}
                </div>
                <div class="home-top">
                    <div class="top-title">
                        <h2>Top Tracks</h2>
                    </div>
                    {{range .TopTracks.Items}}
                        <div class="top-track">
                            <img src="{{ (index .Album.Images 1).URL }}" alt="Bruh">
                            <h3>{{.Name}}</h3>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}