<!DOCTYPE html>
<html lang="en">
<body>
    {{define "floatbutton"}}
    <a href="#" class="float" onclick="collapseBoi()">
    <i class="fas fa-plus"></i>
    </a>
    <div class="collapsed-navbar">
        <div class="heading-container">
            <a href="/home" class="home-collapsed-navbar">Profile</a>
        </div>
        <div class="heading-container">
            <a href="/top/tracks" class="top-tracks-collapsed-navbar">Top Tracks</a>
        </div>
        <div class="heading-container">
            <a href="/top/artists" class="top-artists-collapsed-navbar">Top Artists</a>
        </div>
        <div class="heading-container">
            <a href="/recent" class="recent-collapsed-navbar">Recent</a>
        </div>
        <div class="heading-container">
            <a href="#">Playlists</a>
        </div>
        <!-- TODO: Implement active element -->
    </div>
    {{end}}
</body>
</html>