<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotistats</title>
</head>
<body>
    <h1>BRUUUUUUH</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni accusamus labore dolor? Hic placeat iste perspiciatis ullam expedita eligendi ipsum, ipsa modi numquam voluptatibus nisi rerum porro quos iure ea!</p>
</body>
</html>
