<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../static/js/custom.js"></script>
</head>
<body>
   {{define "navbar"}}
    <div class="navbar">
        <a href="/home" class="home-navbar">Profile</a>
        <a href="/top/tracks" class="top-tracks-navbar">Top Tracks</a>
        <a href="/top/artists" class="top-artists-navbar">Top Artists</a>
        <a href="/recent" class="recent-navbar">Recent</a>
        <a href="#">Playlists</a>
        <!-- TODO: Implement active element -->
    </div>
   {{end}} 
</body>
</html>